.login {
  height: 100vh;
}
.login__image {
  position: relative;
}
.login__image img {
  background-image: url("../images/school-1.jpeg");
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.login__form .logo {
  height: 90px;
}
.login .login-form input {
  width: 100%;
  display: block;
  height: 40px;
  border: 1px solid #c5c5c5;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 10px 0 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 7px #c0d5f5;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  border-radius: 8px;
}
.login .login-form button {
  width: 100%;
  display: block;
  height: 40px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 32px 0 32px 0;
  cursor: pointer;
  background: #4384e8;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 8px;
}
.login .login-form label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Fira Sans", sans-serif !important;
  font-weight: 400;
  color: #545454;
}
.login .login-form h3 {
  color: #0B0B0B;
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: "Fira Sans", sans-serif !important;
}

body {
  font-family: "Poppins", serif;
}

.layout-topbar-bg {
  background-color: #063868;
}

.my-custom {
  margin: 2px 0px;
}

.layout-topbar .layout-topbar-start {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 17rem;
  background-color: #063868;
}
.layout-topbar .layout-topbar-start img {
  height: 60px;
}
.layout-topbar .layout-topbar-end {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.layout-sidebar {
  position: fixed;
  height: calc(100% - 4rem);
  left: 0;
  height: 100%;
  width: 17rem;
  background: var(--menu-bg);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.0196078431), 0 0 2px rgba(0, 0, 0, 0.0509803922), 0 1px 4px rgba(0, 0, 0, 0.0784313725);
  display: flex;
  flex-direction: column;
}
.layout-sidebar--logo {
  height: 78px;
}
.layout-sidebar--logo img {
  height: 60px;
}
.layout-sidebar--logo i {
  font-size: 20px;
  color: #063868;
}
.layout-sidebar .sidebar .nav-link {
  color: #343a40;
  line-height: 23px;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 0px;
  margin: 0 3px;
  /* letter-spacing: 0.04em; */
  position: relative;
  border-radius: 5px;
  font-weight: 500;
}
.layout-sidebar .sidebar .nav-link.active {
  background-color: #063868;
  color: #fff;
}
.layout-sidebar .sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #007bff;
}
.layout-sidebar li.nav-item {
  display: block;
  width: 100%;
  /* background: red; */
}

.layout-content-wrapper {
  margin-left: 17rem;
  height: 100vh;
  background-color: #f1f4f9;
}
.layout-content-wrapper--header {
  height: 80px;
  background-color: #063868;
}
.layout-content-wrapper--header--top {
  height: 78px;
}
.layout-content-wrapper--header--top input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}
.layout-content-wrapper--header--top .search-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.layout-content-wrapper--header--top .search-container button:hover {
  background: #ccc;
}
.layout-content-wrapper .profile img {
  height: 50px;
}
.layout-content-wrapper .profile span {
  font-weight: 600;
  color: #fff;
}

.layout-card__h {
  height: 100%;
  box-shadow: 0 0 40px rgba(8, 21, 66, 0.05);
}
.layout-card .icon-layout {
  margin-bottom: 10px;
}
.layout-card .icon-layout i {
  color: #fff;
}
.layout-card .icon-layout span {
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(92, 97, 242, 0.5);
}
.layout-card .icon-layout span:before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  height: 68px;
  width: 68px;
  border-radius: 50px;
  border: 1.5px dashed #5c61f2;
}
.layout-card .icon-layout svg {
  width: 35px;
  height: 35px;
  fill: #5c61f2;
}
.layout-card .icon-layout h4 {
  font-size: 18px;
  font-weight: 600;
}
.layout-card .icon-layout a {
  color: #959595 !important;
  font-weight: 500;
}

.page-title h3 {
  text-transform: capitalize;
  color: #171829;
  font-weight: 500;
  font-size: 22px;
}/*# sourceMappingURL=style.css.map */